* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family:'Montserrat', sans-serif;
}

.sfondo-nero {
    background-color: black;
}

.reset {
    list-style-type: none;
}

.padding-sinistra {
    padding-left: 1em;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.colonna {
    flex-direction: column;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-sinistra {
    float: left;
}

.contenitore-logo-pulsante {
    background-color: black;
    position: relative;
}

 .contenitore-logo-pulsante .contenitore-logo img {
     width: 100%;
     padding: 1em;
 }

.upgrade {
    position: absolute;
    top: 1.5em;
    right: 0.5em;
    border: 0;
    padding: 1em 3em 1em 3em;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 25px;
}

.upgrade a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}