* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family:'Montserrat', sans-serif;
}

.width-100 {
    width: 100%;
}

.width-10 {
    width: 10%;
}

.contenitore-logo-pulsante {
    background-color: black;
}

 .contenitore-logo-pulsante .contenitore-logo img {
     width: 100%;
 }